name: CI

on:
  push:
    tags:
      - 'v*'

  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run a zip script
        run: zip -r release.zip . -x ".*"

      - name: Create a release
        run: gh release create ${{ github.ref_name }} --title "${{ github.ref_name }}" release.zip
